{
  "openapi": "3.1.0",
  "info": {
    "title": "Unlinked canonical beta",
    "version": "1.0.0",
    "description": "Browser sessions and scoped MCP grants; the account grant is prepared automatically in Settings (revocable/regenerable). Legacy REST schemas are historical."
  },
  "servers": [
    {
      "url": "https://www.unlinked.ai"
    }
  ],
  "paths": {
    "/login": {
      "get": {
        "summary": "Start Ideaflow ID sign-in",
        "responses": {
          "303": {
            "description": "Redirect to verified provider"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Streamable HTTP MCP, account-scoped bearer",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "responses": {
          "200": {
            "description": "MCP protocol response"
          },
          "401": {
            "description": "Missing, invalid or revoked account grant"
          }
        }
      }
    },
    "/api/people": {
      "get": {
        "summary": "Browse/search the published public professional People index without sign-in",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "exact"
              ],
              "default": "best"
            },
            "description": "best: every word in any form and order, falling back to people who match some words (see match). exact: the typed phrase as written."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe profile summaries and optional nextCursor With a query, the body also carries match (all, some or none) and total."
          },
          "400": {
            "description": "Invalid query/cursor"
          },
          "429": {
            "description": "Public read rate or concurrency bound"
          },
          "503": {
            "description": "Published complete index unavailable"
          }
        }
      }
    },
    "/api/people/{id}": {
      "get": {
        "summary": "Read a public professional profile and public connection summaries",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe public professional profile"
          },
          "404": {
            "description": "Profile absent from complete publication"
          },
          "503": {
            "description": "Index unavailable"
          }
        }
      }
    },
    "/api/my-connections": {
      "get": {
        "summary": "Read recorded directed 1/2-hop public paths from the signed member's explicitly confirmed legacy profile",
        "security": [
          {
            "browserSession": []
          }
        ],
        "parameters": [
          {
            "name": "degree",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-anchored bounded profiles, paths, total, nextCursor and source revision"
          },
          "400": {
            "description": "Invalid degree, query or cursor"
          },
          "401": {
            "description": "Sign-in required"
          },
          "409": {
            "description": "No verified legacy graph anchor"
          },
          "503": {
            "description": "Graph unavailable or changed"
          }
        }
      }
    },
    "/api/legacy-files": {
      "get": {
        "summary": "List own recovered original files after explicit legacy confirmation; no agent access",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-scoped recovered file list"
          },
          "401": {
            "description": "Browser session required"
          },
          "404": {
            "description": "Recovered object unavailable to this owner"
          },
          "503": {
            "description": "Recovery unavailable"
          }
        }
      }
    },
    "/legacy-files/{objectId}": {
      "get": {
        "summary": "Download own preserved original; browser-only, not public or agent-accessible",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Original private CSV bytes"
          },
          "401": {
            "description": "Browser session required"
          },
          "404": {
            "description": "Recovered object unavailable to this owner"
          },
          "503": {
            "description": "Recovery unavailable"
          }
        },
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/agent/v1/whoami": {
      "get": {
        "summary": "Grant owner identity: stable owner id, grant scope/version/tools, import count, legacy anchor",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "responses": {
          "200": {
            "description": "Owner summary; no contact email/phone"
          },
          "401": {
            "description": "not_linked or grant_revoked (typed error body)"
          }
        }
      }
    },
    "/api/agent/v1/people": {
      "get": {
        "summary": "Deterministic published public People listing (opaque cursor, max 50/page, total and revision)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "exact"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of public profile summaries"
          },
          "400": {
            "description": "invalid_input or cursor_invalid"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "403": {
            "description": "scope_not_granted"
          },
          "429": {
            "description": "rate_limited"
          }
        }
      }
    },
    "/api/agent/v1/people/{id}": {
      "get": {
        "summary": "One published public profile with its public connections page",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 160
            }
          },
          {
            "name": "connectionsCursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public profile detail"
          },
          "404": {
            "description": "not_found"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          }
        }
      }
    },
    "/api/agent/v1/connections": {
      "get": {
        "summary": "Deterministic owner connections: degree 1 includes owner-imported contacts; degree 2 only recorded public paths with proving provenance",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "degree",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of connection entries with typed provenance and visibility labels"
          },
          "400": {
            "description": "invalid_input or cursor_invalid"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "409": {
            "description": "degree_unproven"
          },
          "429": {
            "description": "rate_limited"
          }
        }
      }
    },
    "/api/agent/v1/ai-search": {
      "post": {
        "summary": "Explicit AI people search: scope mine (own network) or everyone (public index, public-scope grant)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "everyone",
                      "mine"
                    ]
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 40000
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked matches with reasons"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "403": {
            "description": "scope_not_granted"
          },
          "429": {
            "description": "rate_limited"
          },
          "503": {
            "description": "upstream_unavailable (including elapsed timeoutMs)"
          }
        }
      }
    },
    "/api/agent/v1/search-network": {
      "post": {
        "summary": "Launch tool over HTTP: AI owner-network search or recorded public paths by degree",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024
                  },
                  "degree": {
                    "type": "integer",
                    "enum": [
                      1,
                      2
                    ]
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search or recorded-path result"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "409": {
            "description": "degree_unproven"
          }
        }
      }
    },
    "/api/agent/v1/search-everyone": {
      "post": {
        "summary": "Launch tool over HTTP: AI search over the published public People index",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked public matches"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "403": {
            "description": "scope_not_granted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accountGrant": {
        "type": "http",
        "scheme": "bearer"
      },
      "browserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-ul-session"
      }
    }
  }
}
