{
  "openapi": "3.1.0",
  "info": {
    "title": "Unlinked canonical beta",
    "version": "1.0.0",
    "description": "Browser sessions and scoped MCP grants; the account grant is prepared automatically in Settings (revocable/regenerable). Legacy REST schemas are historical."
  },
  "servers": [
    {
      "url": "https://www.unlinked.ai"
    }
  ],
  "paths": {
    "/login": {
      "get": {
        "summary": "Start Ideaflow ID sign-in",
        "responses": {
          "303": {
            "description": "Redirect to verified provider"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Streamable HTTP MCP, account-scoped bearer",
        "security": [
          {
            "accountGrant": []
          },
          {
            "connectorOAuth": [
              "network",
              "people"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "MCP protocol response"
          },
          "401": {
            "description": "Missing, invalid or revoked account grant",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer challenge with resource_metadata pointing at /.well-known/oauth-protected-resource/mcp (RFC 9728)",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/people": {
      "get": {
        "summary": "Browse/search the published public professional People index without sign-in",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "exact"
              ],
              "default": "best"
            },
            "description": "best: every word in any form and order, falling back to people who match some words (see match). exact: the typed phrase as written."
          },
          {
            "name": "presence",
            "in": "query",
            "required": false,
            "description": "member: people who joined Unlinked; shadow: imported profiles not on Unlinked yet. Omit for everyone. Bound into the cursor.",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "shadow"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe profile summaries and optional nextCursor With a query, the body also carries match (all, some or none) and total."
          },
          "400": {
            "description": "Invalid query/cursor"
          },
          "429": {
            "description": "Public read rate or concurrency bound"
          },
          "503": {
            "description": "Published complete index unavailable"
          }
        }
      }
    },
    "/api/people/{id}": {
      "get": {
        "summary": "Read a public professional profile and public connection summaries",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe public professional profile"
          },
          "404": {
            "description": "Profile absent from complete publication"
          },
          "503": {
            "description": "Index unavailable"
          }
        }
      }
    },
    "/api/my-connections": {
      "get": {
        "summary": "Read recorded directed 1/2-hop public paths from the signed member's explicitly confirmed legacy profile",
        "security": [
          {
            "browserSession": []
          }
        ],
        "parameters": [
          {
            "name": "degree",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-anchored bounded profiles, paths, total, nextCursor and source revision"
          },
          "400": {
            "description": "Invalid degree, query or cursor"
          },
          "401": {
            "description": "Sign-in required"
          },
          "409": {
            "description": "No verified legacy graph anchor"
          },
          "503": {
            "description": "Graph unavailable or changed"
          }
        }
      }
    },
    "/api/legacy-files": {
      "get": {
        "summary": "List own recovered original files after explicit legacy confirmation; no agent access",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-scoped recovered file list"
          },
          "401": {
            "description": "Browser session required"
          },
          "404": {
            "description": "Recovered object unavailable to this owner"
          },
          "503": {
            "description": "Recovery unavailable"
          }
        }
      }
    },
    "/legacy-files/{objectId}": {
      "get": {
        "summary": "Download own preserved original; browser-only, not public or agent-accessible",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Original private CSV bytes"
          },
          "401": {
            "description": "Browser session required"
          },
          "404": {
            "description": "Recovered object unavailable to this owner"
          },
          "503": {
            "description": "Recovery unavailable"
          }
        },
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/agent/v1/whoami": {
      "get": {
        "summary": "Grant owner identity: stable owner id, grant scope/version/tools, import count, legacy anchor",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "responses": {
          "200": {
            "description": "Owner summary; no contact email/phone"
          },
          "401": {
            "description": "not_linked or grant_revoked (typed error body)"
          }
        }
      }
    },
    "/api/agent/v1/people": {
      "get": {
        "summary": "Deterministic published public People listing (opaque cursor, max 50/page, total and revision)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "exact"
              ]
            }
          },
          {
            "name": "presence",
            "in": "query",
            "required": false,
            "description": "member: people who joined Unlinked; shadow: imported profiles not on Unlinked yet. Omit for everyone. Bound into the cursor.",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "shadow"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of public profile summaries. Each person may carry presence (member or shadow: imported, not on Unlinked yet) and connectionCount (connections in both directions)."
          },
          "400": {
            "description": "invalid_input or cursor_invalid"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "403": {
            "description": "scope_not_granted"
          },
          "429": {
            "description": "rate_limited"
          }
        }
      }
    },
    "/api/agent/v1/people/{id}": {
      "get": {
        "summary": "One published public profile with its public connections page",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 160
            }
          },
          {
            "name": "connectionsCursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public profile detail, with presence and connectionCount when known, and its connections as summaries."
          },
          "404": {
            "description": "not_found"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          }
        }
      }
    },
    "/api/agent/v1/connections": {
      "get": {
        "summary": "Deterministic owner connections: degree 1 includes owner-imported contacts; degree 2 only recorded public paths with proving provenance",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "degree",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of connection entries with typed provenance and visibility labels"
          },
          "400": {
            "description": "invalid_input or cursor_invalid"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "409": {
            "description": "degree_unproven"
          },
          "429": {
            "description": "rate_limited"
          }
        }
      }
    },
    "/api/agent/v1/connection-requests": {
      "get": {
        "summary": "Read-only: the owner's open connection requests (direction=received|sent)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "received",
                "sent"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requests with names, public profile ids, optional notes and ISO times; owner_private"
          },
          "401": {
            "description": "not_linked or grant_revoked (typed error body)"
          },
          "403": {
            "description": "scope_not_granted for grants issued before catalog version 3"
          }
        }
      }
    },
    "/api/agent/v1/notifications": {
      "get": {
        "summary": "Read-only: the owner's newest in-app notifications with unseen/unread counts",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications (kind, actor name/profile id, ISO time, read); reading marks nothing"
          },
          "401": {
            "description": "not_linked or grant_revoked (typed error body)"
          },
          "403": {
            "description": "scope_not_granted for grants issued before catalog version 3"
          }
        }
      }
    },
    "/api/agent/v1/ai-search": {
      "post": {
        "summary": "Explicit AI people search: scope mine (own network) or everyone (public index, public-scope grant)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "everyone",
                      "mine"
                    ]
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 40000
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked matches with reasons"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "403": {
            "description": "scope_not_granted"
          },
          "429": {
            "description": "rate_limited"
          },
          "503": {
            "description": "upstream_unavailable (including elapsed timeoutMs)"
          }
        }
      }
    },
    "/api/agent/v1/search-network": {
      "post": {
        "summary": "Launch tool over HTTP: AI owner-network search or recorded public paths by degree",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024
                  },
                  "degree": {
                    "type": "integer",
                    "enum": [
                      1,
                      2
                    ]
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search or recorded-path result"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "409": {
            "description": "degree_unproven"
          }
        }
      }
    },
    "/api/agent/v1/search-everyone": {
      "post": {
        "summary": "Launch tool over HTTP: AI search over the published public People index",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked public matches"
          },
          "401": {
            "description": "not_linked or grant_revoked"
          },
          "403": {
            "description": "scope_not_granted"
          }
        }
      }
    },
    "/api/agent/v1/provision-grant": {
      "post": {
        "summary": "Server-to-server: allow-listed confidential client ensures a read-only account grant for a verified issuer+subject binding (never email). Disabled (404) unless the operator configured the allow list.",
        "security": [
          {
            "provisionClientBasic": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "issuer": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  }
                },
                "required": [
                  "issuer",
                  "subject"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ kind, ownerId, grantId, created, version, scope, tools, accessToken } \u2014 token only in this response body, never logged"
          },
          "400": {
            "description": "invalid_input"
          },
          "401": {
            "description": "not_linked (person has no owner binding) or grant_revoked (owner turned agent access off)"
          },
          "403": {
            "description": "client_unauthorized"
          },
          "404": {
            "description": "not_found (provisioning disabled on this runtime)"
          },
          "429": {
            "description": "rate_limited (per-client budget; Retry-After)"
          },
          "503": {
            "description": "upstream_unavailable (including an unavailable audit sink \u2014 provisioning fails closed rather than going unaudited)"
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource/mcp": {
      "get": {
        "summary": "OAuth protected resource metadata for /mcp (RFC 9728); also served at /.well-known/oauth-protected-resource",
        "responses": {
          "200": {
            "description": "resource, authorization_servers, scopes_supported, bearer_methods_supported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "OAuth authorization server metadata (RFC 8414)",
        "responses": {
          "200": {
            "description": "Authorization server metadata, including client_id_metadata_document_supported and authorization_response_iss_parameter_supported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "summary": "Authorization endpoint: signs the person in with Ideaflow ID if needed and shows consent. Requires response_type=code, PKCE S256 and a registered connector-callback or http://localhost / 127.0.0.1 loopback redirect_uri.",
        "responses": {
          "200": {
            "description": "Consent page"
          },
          "303": {
            "description": "Redirect to sign-in, or to the client with code, state and iss (or an error)"
          },
          "400": {
            "description": "Unknown client or unregistered redirect URI (never redirected)"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Token endpoint (authorization_code only; public clients)",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "code",
                  "code_verifier",
                  "client_id"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "code_verifier": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Required when the authorization request included it"
                  },
                  "resource": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "access_token, token_type Bearer, scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "OAuth error (invalid_grant, invalid_target, unsupported_grant_type, ...)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/register": {
      "post": {
        "summary": "Dynamic client registration (RFC 7591); public clients only, redirect URIs limited to Claude/ChatGPT connector callbacks and loopback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "redirect_uris"
                ],
                "properties": {
                  "redirect_uris": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered client with token_endpoint_auth_method none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "invalid_redirect_uri or invalid_client_metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "Token revocation (RFC 7009) for the client the token was issued to",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "client_id"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked, or nothing to revoke"
          }
        }
      }
    },
    "/api/agent/v1/connection-requests/send": {
      "post": {
        "summary": "Send a member connection request (explicit opt-in only)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "profileId"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid/revoked grant"
          },
          "403": {
            "description": "Opt-in scope not granted"
          },
          "404": {
            "description": "Request/profile not found"
          },
          "409": {
            "description": "Request state conflict"
          },
          "429": {
            "description": "Shared request/write budget exhausted"
          },
          "503": {
            "description": "Upstream unavailable"
          }
        }
      }
    },
    "/api/agent/v1/connection-requests/accept": {
      "post": {
        "summary": "Accept a member connection request (explicit opt-in only)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid/revoked grant"
          },
          "403": {
            "description": "Opt-in scope not granted"
          },
          "404": {
            "description": "Request/profile not found"
          },
          "409": {
            "description": "Request state conflict"
          },
          "429": {
            "description": "Shared request/write budget exhausted"
          },
          "503": {
            "description": "Upstream unavailable"
          }
        }
      }
    },
    "/api/agent/v1/connection-requests/ignore": {
      "post": {
        "summary": "Ignore a member connection request (explicit opt-in only)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid/revoked grant"
          },
          "403": {
            "description": "Opt-in scope not granted"
          },
          "404": {
            "description": "Request/profile not found"
          },
          "409": {
            "description": "Request state conflict"
          },
          "429": {
            "description": "Shared request/write budget exhausted"
          },
          "503": {
            "description": "Upstream unavailable"
          }
        }
      }
    },
    "/api/agent/v1/connection-requests/withdraw": {
      "post": {
        "summary": "Withdraw a member connection request (explicit opt-in only)",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid/revoked grant"
          },
          "403": {
            "description": "Opt-in scope not granted"
          },
          "404": {
            "description": "Request/profile not found"
          },
          "409": {
            "description": "Request state conflict"
          },
          "429": {
            "description": "Shared request/write budget exhausted"
          },
          "503": {
            "description": "Upstream unavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accountGrant": {
        "type": "http",
        "scheme": "bearer"
      },
      "browserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-ul-session"
      },
      "provisionClientBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "Allow-listed confidential client id + secret (client_secret_basic); timing-safe verification"
      },
      "connectorOAuth": {
        "type": "oauth2",
        "description": "OAuth 2.1 authorization code with PKCE S256 for MCP connectors (public clients). The issued access token is an account grant: it does not expire and is revocable in Settings or at /oauth/revoke.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.unlinked.ai/oauth/authorize",
            "tokenUrl": "https://www.unlinked.ai/oauth/token",
            "scopes": {
              "network": "Search your own network and read who you are on Unlinked",
              "people": "Search and read the published People index (implies network)"
            }
          }
        }
      }
    }
  }
}
