{
  "openapi": "3.1.0",
  "info": {
    "title": "Unlinked canonical beta",
    "version": "1.0.0",
    "description": "Browser sessions and scoped MCP grants; legacy REST schemas are historical."
  },
  "servers": [
    {
      "url": "https://www.unlinked.ai"
    }
  ],
  "paths": {
    "/login": {
      "get": {
        "summary": "Start Ideaflow ID sign-in",
        "responses": {
          "303": {
            "description": "Redirect to verified provider"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Streamable HTTP MCP, account-scoped bearer",
        "security": [
          {
            "accountGrant": []
          }
        ],
        "responses": {
          "200": {
            "description": "MCP protocol response"
          },
          "401": {
            "description": "Missing, invalid or revoked account grant"
          }
        }
      }
    },
    "/api/people": {
      "get": {
        "summary": "Browse/search the published public professional People index without sign-in",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "best",
                "exact"
              ],
              "default": "best"
            },
            "description": "best: every word in any form and order, falling back to people who match some words (see match). exact: the typed phrase as written."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe profile summaries and optional nextCursor With a query, the body also carries match (all, some or none) and total."
          },
          "400": {
            "description": "Invalid query/cursor"
          },
          "429": {
            "description": "Public read rate or concurrency bound"
          },
          "503": {
            "description": "Published complete index unavailable"
          }
        }
      }
    },
    "/api/people/{id}": {
      "get": {
        "summary": "Read a public professional profile and public connection summaries",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Safe public professional profile"
          },
          "404": {
            "description": "Profile absent from complete publication"
          },
          "503": {
            "description": "Index unavailable"
          }
        }
      }
    },
    "/api/my-connections": {
      "get": {
        "summary": "Read recorded directed 1/2-hop public paths from the signed member's explicitly confirmed legacy profile",
        "security": [
          {
            "browserSession": []
          }
        ],
        "parameters": [
          {
            "name": "degree",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-anchored bounded profiles, paths, total, nextCursor and source revision"
          },
          "400": {
            "description": "Invalid degree, query or cursor"
          },
          "401": {
            "description": "Sign-in required"
          },
          "409": {
            "description": "No verified legacy graph anchor"
          },
          "503": {
            "description": "Graph unavailable or changed"
          }
        }
      }
    },
    "/api/legacy-files": {
      "get": {
        "summary": "List own recovered original files after explicit legacy confirmation; no agent access",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Owner-scoped recovered file list"
          },
          "401": {
            "description": "Browser session required"
          },
          "404": {
            "description": "Recovered object unavailable to this owner"
          },
          "503": {
            "description": "Recovery unavailable"
          }
        }
      }
    },
    "/legacy-files/{objectId}": {
      "get": {
        "summary": "Download own preserved original; browser-only, not public or agent-accessible",
        "security": [
          {
            "browserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Original private CSV bytes"
          },
          "401": {
            "description": "Browser session required"
          },
          "404": {
            "description": "Recovered object unavailable to this owner"
          },
          "503": {
            "description": "Recovery unavailable"
          }
        },
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accountGrant": {
        "type": "http",
        "scheme": "bearer"
      },
      "browserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-ul-session"
      }
    }
  }
}
